
#carta {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(253, 243, 231);
    width: 150px;
    height: 215px;
    border-radius: 10px;
    padding: 5px;
}
#interfase {
    width: 300px;
    height: 300px;
}